<h1>GoJS / Angular  </h1>

 
<div class="left">
  Diagram
  <gojs-diagram #myDiagram [initDiagram]='initDiagram' [nodeDataArray]='state.diagramNodeData' [linkDataArray]='state.diagramLinkData'
    [divClassName]='diagramDivClassName' [modelData]='state.diagramModelData' [(skipsDiagramUpdate)]='state.skipsDiagramUpdate'
    (modelChange)='diagramModelChange($event)'>
  </gojs-diagram>
</div>

<div class="left">
  Overview
  <gojs-overview #myOverview [initOverview]='initOverview' [divClassName]='oDivClassName' [observedDiagram]='observedDiagram'></gojs-overview>
</div>


<div class="left">
  <app-inspector [nodeData]='state.selectedNodeData' (onInspectorChange)='handleInspectorChange($event)'></app-inspector>
</div>

 

<div class="clear left">
 <button>Enable Draw</button>

</div>